<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <!--  <class name="tests.SellersPlansTest"/>
      <class name="tests.ACRepairTest"/>
      <class name="tests.RentTest"/>
      <class name="tests.BuySearchTest"/>
      <class name="tests.PGTest"/>
      <class name="tests.HomeLoanTest"/>
      <class name="tests.PostAddTest"/>
      <class name="tests.AllTest"/>
      <class name="tests.LoginTest"/>
      <class name="tests.PaintingAndCleaningTest"/>-->
      
      <class name="tests.AllTest"/>
      <class name="tests.Paywithcreditcard"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
